<div class="user-booyah-box">
 <div class="row">
  <div class="col-3">
    <%= image_tag 'user.png' %>
  </div>

  <div class="col-9">
    <h1><%= @user.username %> / <%= @user.email %></h1>
    <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
    <h4><%= @user.comments.count %>  comments</h4>
    <h4><%= @user.comments.where(rating: '5_stars').count %>  5-star reviews</h4>
  </div>
  <div class="row col-4 offset-3">
    <a class="comments_anchor" href="#comments_added">Comments Added</a> 
    <a class="comments_anchor" href="#places_added">Places Added</a> 
  </div>
</div>
</div>
<div class="clear"></div>
</div>

<br />
<br />
<div class="user-booyah-box" id="comments_added">
  <h1 class="text-center" id="user-font">Comments Added</h1>
  <br />
  <br />
  <div class="row">
    <% @user.comments.each do |comment| %>
    <div class="col-12 col-sm-6">
      <h2 class="text-center"><%= link_to comment.place.name, place_path(comment.place) %></h2>
      <blockquote>
        <% if comment.rating_image.present? %>
        <%= image_tag comment.rating_image %>  
        <% end %>
        <%= comment.message %>
      </blockquote>
    </div>
    <% end %>
  </div>
</div>

<div class="clear"></div>
<br />
<br />
<div class="user-booyah-box" id="places_added">
  <h1 class="text-center" id="user-font">Places Added</h1>
  <br />
  <br />
  <div class="row">
    <% @user.places.each do |place| %>
    <div class="booyah-box col-10 offset-1">
      <h1><%= link_to place.name, place_path(place) %></h1><br />
      <i><%= place.address %></i><br />
      <p><%= place.description %></p><br />
      <% if place.comments.present? %>
      <div class="col-12">
        <blockquote>
          <% if place.comments.last.rating_image.present? %>
          <%= image_tag place.comments.last.rating_image %>  
          <% end %>
          <%= place.comments.last.message %>
          <small><%= place.comments.last.user.username %></small>
        </blockquote>
      </div>
      <%end%>
    </div>
    <% end %>
  </div>
